/*.elements .element {*/
  /*list-style: disc inside;*/
  /*padding: 1em;*/
/*}*/

/*.pager {*/
  /*text-align: center;*/
/*}*/

/*.navigation_bread_crumb li, .pager li {*/
  /*display: inline;*/
  /*margin: 0 5px;*/
/*}*/

/*h1 {*/
  /*font-size: 2.5em;*/
/*}*/

/*h2 {*/
  /*font-size: 2em;*/
/*}*/

/*h3 {*/
  /*font-size: 1.6em;*/
/*}*/

/*h4 {*/
  /*font-size: 1.2em;*/
  /*font-weight: bold;*/
/*}*/

canvas, body, div, #jsapp {
    margin: 0;
    padding: 0;
}